<% content_for(:title, t('.title')) %>
<section class="section">
  <div class="container px-6 py-6" id="backcolor">
    <h4 class="subtitle is-4">街バグmapとは？</h4>
    <p>
    街のバグを見つけて、写真・住所・キャプションを投稿することで、街のバグ写真たちがマップ上で見られるWebアプリケーションです。<br>
    </p>
    <br>
    <br>
    <h4 class="subtitle is-4"> 街のバグとは？</h4>
    <p>
    散歩をしているとふと遭遇する謎なもの。<br>
    たとえば、不思議な落とし物やある文字だけ色褪せて変な言葉になっている看板、変なオブジェ、突然落ちてるパンなど。<br>
    普通では遭遇しないであろうものたちを本アプリケーションでは街のバグとよびます。<br>
    </p>
    <br>
    <br>
    <h4 class="subtitle is-4">街バグmapの使い方</h4>
    <p>
    「これはバグだな？」という写真を見つけたら、写真に収めます。<br>
    画面上に表示されている【Post】のボタンから投稿画面へいきます。<br>
    投稿画面では、写真をデータフォルダから選択のうえ、その写真を見つけた住所を入力します。(大体の住所でも大丈夫です。)<br>
    キャプション(一言コメント)は入力してもしなくても大丈夫です。<br>
    見つけた時の感想などがもしあれば入力していただくと、よりおかしみが増してよいと思います。<br>
    投稿やコメント、いいねをする際は、本アプリケーションへのユーザー登録が必要ですが、<br>
    投稿された写真を見てたのしんでいただくのみの場合は、ユーザー登録はご不要です。<br>
    </p>
    <div class="has-text-right mt-6">
      <%= image_tag 'bugchan.png', size: '200x400' %>
    </div>
  </div>
</section>