<div class="container">
    <div class="has-text-centered">
      <h1 class="title"><%= t('.title') %></h1>
    </div>
    <div class="column is-3 is-offset-4">
      <table class="table">
        <tr>
          <th>email address</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th>name</th>
          <td><%= current_user.name %></td>
        </tr>
      </table>
    </div>
    <div class="has-text-centered">
      <button class="button is-small"><%= link_to t('defaults.edit'), edit_profile_path %></button>
    </div>
</div>
