<footer>
  <div class="content has-text-centered mt-3 mb-3">
    <p>
      <%= link_to "お問い合わせ　　", new_contact_path, class: 'linkcolor' %>
      <%= link_to "　　プライバシーポリシー　　", privacy_path, class: 'linkcolor' %>
      <%= link_to "　　利用規約", terms_path, class: 'linkcolor' %>
    </p>
    <p>©︎ 2022 街バグmap</p>
  </div>
</footer>
