<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= link_to "お問い合わせ　　", "#", class: 'linkcolor' %>
      <%= link_to "　　プライバシーポリシー　　", privacy_path, class: 'linkcolor' %>
      <%= link_to "　　利用規約", terms_path, class: 'linkcolor' %>
    </p>
    <p>©︎ 2022 街バグmap</p>
  </div>
</footer>
