// 写真一覧ページの写真部分のCSS指定
figure {
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 600px;
  margin: 0 auto;
}

// 写真一覧ページのキャプション部分のCSS指定
figcaption {
  position: absolute;
  width: 100%;
  transform: translate(0, -108%);
  background-color:  rgba(0, 0, 0, .5);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0;
}
